@import "../styles/main/main.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.btn{
    width: 10vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-lavanda);
}
.btn:hover{
    transform: scale3d(0.99, 0.99, 0.99);
}
.btts .btn{
    margin-left: 1vw;
    margin-top: 1vh;
    height: 5vh;
    width: 9vw;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100vh;
    width: 80vw;
    justify-self: center;
}


.contenedor__titulo{
    align-self: self-start;
    color: var(--color-lavanda);
    width: 70vw;
    height: 5vh;
}

.contenedor__contexto{
    width: 70vw;
    height: 6vh;
}

.contenedor__tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: auto;
    width: 100%;
    border-radius: 25px;  
}
.contenedor__button--crear{
    height: 5vh;
    margin: 10px;
    width: 10vw;
    align-self: flex-end;
    justify-self: flex-end;
    color: var(--color-black);
}

.contenedor__tarjeta{
    display: flex;
    background-color: var(--color-white);
    height: 25vh;
    width: 100%;
    border-radius: 25px;  
    border:2px solid var(--color-white);
}
.contenedor__imagen{
    background-image: url(imagenesProductos/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 23px;
    height: 100%;
    width: 20%;
}

.contenedor__informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding-left: 5%;
    width: 75%;
}

.form .btn{
    width: 10vw;
}
.form .btn:first-child{
    width: 2vw;
    align-self: flex-end;
}
.form{
    display: flex;
    background-color: var(--color-white);
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 40vw;
    margin:0 25vw ;
    padding: 2% 7%;
}
.form__oculto{
    display: none;
}

.form__campos{
    display: flex;
    flex-direction: column;
}

.form__input{
    height: 5vh;
    background-color: var(--color-azul-claro);
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}
.form__input:focus{
    outline: none;
}

.navegacion{
    padding: 10px;
    display: flex;
    width: 80vw;
    height: 10vh;
    justify-self: center;
}

.navegacion__volver{
    height: 90%;
    width: 4%;
}
.btt__navegacion--volver{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border:none;
}
a{
    text-decoration: none;
}
.contenedor__header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}