@import "../styles/main/main.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-lavanda);
    font-size: 0.7rem;
}
.btn:hover{
    transform: scale3d(0.99, 0.99, 0.99);
}
.btts .btn{
    margin-left: 1vw;
    margin-top: 1vh;
    height: 5vh;
    padding: 10px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 90vh;
    width: 80vw;
    justify-self: center;
}


.contenedor__titulo{
    align-self: self-start;
    color: var(--color-lavanda);
    width: 70vw;
}

.contenedor__contexto{
    width: 70vw;
}

.contenedor__tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: auto;
    width: 100%;
    border-radius: 25px;  
}

.contenedor__acciones{
    display: flex;
    gap: 20px;
}
.contenedor__button--crear{
    margin: 10px;
    align-self: flex-end;
    justify-self: flex-end;
    color: var(--color-black);
}

.contenedor__tarjeta{
    display: flex;
    background-color: var(--color-white);
    width: 100%;
    border-radius: 25px;  
    border:2px solid var(--color-white);
}
.contenedor__imagen{
    background-image: url(imagenesProductos/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 23px 0 0 23px;
    height: 100%;
    width: 30%;
}

.contenedor__informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 75%;
}

.form .btn{
    align-self: center;
    margin-top: 2vh;
}
.form .btn:first-child{
    width: 2vw;
    align-self: flex-end;
}
.form{
    display: flex;
    background-color: var(--color-white);
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    padding: 20px 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274);
}
.form__oculto{
    display: none;
}

.form__titulo{
    text-align: center;
    font-size: 1.3rem;
}
.form__campos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.form__input{
    height: 5vh;
    background-color: var(--color-gray-100);
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}
.form__input:focus{
    outline: none;
}

textarea.form__input{
    height: 15vh;
    resize: none;
}

.form__header {
    display: flex;
    justify-content: center; 
    align-items: center;           
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.form__close {
    background: none;
    border: none;
    font-size: 1rem; 
    padding: 0;
    width: auto;
    position: absolute;
    right: -20px;
    top: -10px;
}

.navegacion{
    padding: 10px;
    display: flex;
    width: 80vw;
    height: 10vh;
    justify-self: center;
}

.navegacion__volver{
    height: 90%;
    width: 4%;
}
.btt__navegacion--volver{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border:none;
}
a{
    text-decoration: none;
}
.contenedor__header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}