

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <form class="form">
            <div class="form__header">
                <h2 class="form__titulo">INFORMACIÓN DEL PRODUCTO</h2>
            </div>
        
            <div class="form__campos">
                <label for="id" class="form__campos" id="labelId">Id del producto:</label>
                <input type="text" id="id" class="form__input" readonly>
                <span id="errorId" class="error-msg"></span>
            </div>
        
            <div class="form__campos">
                <label for="nombre" class="form__label" id="labelNombre">Nombre del producto:</label>
                <input type="text" id="nombre" class="form__input" placeholder="Ej. Monitor Gamer">
                <span id="errorNombre" class="error-msg"></span>
            </div>
        
            <div class="form__campos" id="contenedorCategoria">
                <label class="form__label">Categoría:</label>
            </div>
        
            <div class="form__campos">
                <label for="desc" class="form__label">Descripción:</label>
                <textarea id="desc" class="form__input" rows="3"></textarea>
                <span id="errorDesc" class="error-msg"></span>
            </div>
        
            <div class="form__campos">
                <label for="url" class="form__label">Enlace de la imagen:</label>
                <input type="text" id="url" class="form__input" placeholder="http://urldeimagen.com/monitor.jpg">
                <span id="errorUrl" class="error-msg"></span>
            </div>

            <div class="form_btn">
                <button type="submit" class="btn btn--guardar">Guardar cambios</button>
                <button type="button" class="btn btn--cancelar" id="cancelForm">Cancelar</button>
            </div>

            
        </form>
        
</body>
</html>