.contenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 90vh;
    width: 80vw;
    justify-self: center;
}


.contenedor__titulo{
    align-self: self-start;
    color: var(--color-lavanda);
    width: 70vw;
}

.contenedor__contexto{
    width: 70vw;
}

.contenedor__tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: auto;
    width: 100%;
    border-radius: 25px;  
}

.contenedor__acciones{
    display: flex;
    gap: 20px;
}
.contenedor__button--crear{
    margin: 10px;
    align-self: flex-end;
    justify-self: flex-end;
    color: var(--color-black);
}

.contenedor__tarjeta{
    display: flex;
    background-color: var(--color-white);
    width: 100%;
    border-radius: 25px;  
    border:2px solid var(--color-white);
}
.contenedor__imagen{
    width: 30%;
    min-height: 220px;
    object-fit: cover;
    border-radius: 23px 0 0 23px;
}

.contenedor__informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 75%;
}

.contenedor__header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}
